body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-size: 40px;
}

p{
    font-family: Montserrat;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 24px;
    word-spacing: 8px;
}

main{
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    max-width: 750px;
}

img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 100%;
}

.left{
    display: flex;
    width: 50%;
}

.right{
    padding: 3em;
    width: 50%;
}

.header{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-decoration: none;
}

.salePrice{
    font-family: Fraunces;
    font-size: 34px;
    color: hsl(158, 36%, 37%);
}

.originalPrice{
    font-family: Montserrat;
    text-align: right;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-top: -1.9em;
    padding-right: 3em;
}

.cart{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    text-decoration: none;
    text-align: center;
}

.cart:hover{
    background-color: hsl(212, 21%, 14%);
    transition: 0.3s;
}

footer{
    position: absolute;
    top: 80%;
    font-family: Montserrat;
    font-size: 12px;
    text-align: center;
    color: hsl(228, 12%, 48%);
}

footer a{
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
}